<div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
  <div class="w-full p-6 bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md dark:bg-gray-800 dark:border-gray-700 sm:p-8 ">
    <h2 class="mb-1 text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">Change your password</h2>

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), class:"mt-4 space-y-4 lg:mt-5 md:space-y-5", html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="mb-4">
        <%= f.label :password, "New password", class: "block text-sm font-medium text-gray-900 dark:text-white" %>
        <% if @minimum_password_length %>
          <small class="text-gray-500">(minimum <%= @minimum_password_length %> characters)</small>
        <% end %>
        <%= f.password_field :password, class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500", autocomplete: "new-password" %>
      </div>

      <div class="mb-4">
        <%= f.label :password_confirmation, "Confirm new password", class: "block mb-2 text-sm font-medium text-gray-900 dark:text-white" %>
        <%= f.password_field :password_confirmation, class: "bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" %>
      </div>

      <div class="flex flex-col items-center justify-between">
        <%= f.submit "Change my password", class: "w-full bg-blue-500 text-white font-bold py-2 px-4 rounded-lg uppercase" %>
          <%= render "devise/shared/links" %>
      </div>
    <% end %>

  </div>
</div>
