
<main class="block box-border bg-gray-100" style="flex: 1 1 0%; margin-botom: 1000px">
  <div class="max-w-7xl mx-auto px-8 md:px-0">
    <div class="block box-border py-4">
      <ol class="mt-0 mb-0 box-border w-full p-0 flex justify-start flex-wrap text-xs">
        <li class="box-border flex items-center leading-3">
          <a href="https://www.avito.ma"
            class="flex items-center text-gray-700 transition-colors duration-200 hover:text-blue-700">
            <svg class="h-5 w-5 mr-2" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
              aria-labelledby="HomeTitleID">
              <title>Home Icon</title>
              <path d="M10 20v-6h4v6h5v-8h3L12 3 2 12h3v8h5z"></path>
            </svg>
            Accueil
            <span class="font-semibold ml-2"></span>
          </a>
        </li>
        <li class="flex items-center leading-3">
          <span class="ml-3 text-blue-500">Toutes les catégories</span>
        </li>
      </ol>
    </div>

    <div class="flex flex-wrap">
      <div class="w-full px-8">
        <div class="pb-4 box-border mb-0">
          <form class="flex box-border relative flex-wrap mb-6 p-4 rounded-lg bg-white" style="
              box-shadow: rgba(68, 68, 68, 0.08) 0px 2px 18px 0px;
              border-top: 4px solid rgb(17, 17, 17);
              border-image: linear-gradient(
                  to right,
                  rgb(255, 76, 89) 33%,
                  rgb(46, 201, 102) 33%,
                  rgb(46, 201, 102) 66%,
                  rgb(58, 164, 255) 66%
                )
                1 / 1 / 0 stretch;
            " action="<%= annonces_path %>" method="get">
            <div class="w-full mb-16 max-w-full mx-auto" style="--gutter: 8px; padding-right: 8px; padding-left: 8px">
              <div class="flex flex-wrap -mx-2">
                <div class="px-2 lg:w-1/3">
                  <div class="relative">
                    <div>
                      <div class="absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400">
                        <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                          aria-labelledby="SearchLineTitleID"
                          class="fill-current stroke-current stroke-0 overflow-hidden align-middle transition duration-200 ease-in-out">
                          <title>SearchLine Icon</title>
                          <path
                            d="M11 2c4.968 0 9 4.032 9 9s-4.032 9-9 9-9-4.032-9-9 4.032-9 9-9zm0 16c3.867 0 7-3.133 7-7 0-3.868-3.133-7-7-7-3.868 0-7 3.132-7 7 0 3.867 3.132 7 7 7zm8.485.071l2.829 2.828-1.415 1.415-2.828-2.829 1.414-1.414z">
                          </path>
                        </svg>
                      </div>
                      <input type="text" autocomplete="off" name="keyword" placeholder="Que recherchez-vous?" value=""
                        class="block w-full p-3 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                    </div>
                  </div>
                </div>

                <div class="px-2 lg:w-1/3">
                 <div class="max-w-full mx-auto relative">
                  <select name="category" id="category" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                  <% Category.all.each do |category| %>
                      <option value="<%= category.id %>"><%=category.name %></option>
                    <% end %>
                </select>
                </div>
              </div>

                <div class="px-2 lg:w-1/3">
                  <div class="relative">
                         <select name="ville" id="ville" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
                    <% Ville.all.each do |ville| %>
                        <option value="<%= ville.id %>"><%=ville.name %></option>
                      <% end %>
                </select>
                  </div>
                </div>
              </div>
            </div>
            <div style="
                box-sizing: border-box;
                width: 100%;
                display: flex;
                -webkit-box-pack: center;
                justify-content: center;
                position: absolute;
                left: 0px;
                right: 0px;
                bottom: -20px;
              ">
              <button type="submit" aria-label="Rechercher"
                class="uppercase overflow-visible font-medium text-md p-3 rounded-md border border-blue-500 text-white flex items-center justify-center transition-colors duration-150 bg-blue-600 border-blue-600 hover:outline-none hover:shadow-outline-blue hover:bg-blue-800 focus:shadow-outline-blue">
                <span class="box-border ml-[-2px] mr-[10px] flex items-center justify-center">
                  <svg height="24" width="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"
                    aria-labelledby="SearchLineTitleID" style="fill: currentcolor; stroke: rgb(255, 255, 255)"
                    class="stroke-0 overflow-hidden align-middle box-border">
                    <title style="box-sizing: border-box">Rechercher</title>
                    <path
                      d="M11 2c4.968 0 9 4.032 9 9s-4.032 9-9 9-9-4.032-9-9 4.032-9 9-9zm0 16c3.867 0 7-3.133 7-7 0-3.868-3.133-7-7-7-3.868 0-7 3.132-7 7 0 3.867 3.132 7 7 7zm8.485.071l2.829 2.828-1.415 1.415-2.828-2.829 1.414-1.414z"
                      style="box-sizing: border-box"></path>
                  </svg></span>Rechercher ( 0 )
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="flex flex-wrap justify-between">
      <% @categories.each do |category| %>
        <div class="w-full mb-8">
        <div class="w-full mb-8 flex justify-between items-center">
          <h2 class="text-2xl font-semibold mb-4"><%= category.name %></h2>
          <% if category.annonces.length > 1 %>
            <%= link_to "Voir plus", annonces_show_category_path(category), class: "text-blue-500 text-lg font-semibold ml-4" %>
          <% end %>
        </div>
              <div class="relative flex overflow-x-auto overflow-y-hidden mb-4 -mx-2">
                  <!-- Item 1 -->
                  <% category.annonces.limit(5).each do |annonce| %>
                    <div class="w-1/5 px-2 mb-4" data-carousel-item>
                      <div class="bg-white rounded-lg shadow-lg">
                        <a href="<%= annonce_path(annonce) %>" class="block relative">
                                          <div class="absolute top-4 right-4 cursor flex items-center justify-center p-2 z-50     rounded-full" style="background-color: rgb(255, 255, 255); box-shadow: rgba(0, 0, 0, 0.14) 0px 4px 22px 0px;">

                          <button class="favorite-button text-gray-600 hover:text-gray-900 transition duration-300 ease-in-out focus:outline-none" data-annonce-id="<%= annonce.id %>">
                            <svg class="heart-empty" height="32" width="32" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" style="fill: rgb(74, 74, 74);stroke: rgb(74, 74, 74)">
                              <title id="HeartOutlineTitleID">Sauvegarder l’annonce</title>
                                <path fill-rule="evenodd" d="M2.405 12.33c-1.231-3.824.407-7.833 4.078-9.015a6.562 6.562 0 015.25.541l.263.158.268-.159a6.571 6.571 0 014.982-.619l.266.08c3.673 1.182 5.317 5.192 4.082 9.03a12.42 12.42 0 01-2.977 4.736 34.695 34.695 0 01-5.995 4.665l-.23.143a.732.732 0 01-.762.006l-.245-.147a34.717 34.717 0 01-6.005-4.673 12.427 12.427 0 01-2.975-4.747zm9.194-6.363l-.185-.132a4.784 4.784 0 00-4.162-.606c-2.664.856-3.872 3.808-2.94 6.696a10.232 10.232 0 002.448 3.899A31.118 31.118 0 0012.135 20L12 19.916l.438-.275a31.11 31.11 0 004.304-3.342l.495-.47a10.226 10.226 0 002.45-3.889c.934-2.9-.279-5.854-2.944-6.71a4.793 4.793 0 00-4.336.728.686.686 0 01-.81.009z" clip-rule="evenodd"></path>
                            </svg>
                            <svg class="heart-icon" height="32" width="32" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" style="    fill: rgb(209, 54, 73); stroke: rgb(209, 54, 73);">
                              <title id="HeartOutlineTitleID">Sauvegarder l’annonce</title>
                              <path fill-rule="evenodd" d="M2.405 12.33c-1.231-3.824.407-7.833 4.078-9.015a6.562 6.562 0 015.25.541l.263.158.268-.159a6.571 6.571 0 014.982-.619l.266.08c3.673 1.182 5.317 5.192 4.082 9.03a12.42 12.42 0 01-2.977 4.736 34.695 34.695 0 01-5.995 4.665l-.23.143a.732.732 0 01-.762.006l-.245-.147a34.717 34.717 0 01-6.005-4.673 12.427 12.427 0 01-2.975-4.747zm9.194-6.363l-.185-.132a4.784 4.784 0 00-4.162-.606c-2.664.856-3.872 3.808-2.94 6.696a10.232 10.232 0 002.448 3.899A31.118 31.118 0 0012.135 20L12 19.916l.438-.275a31.11 31.11 0 004.304-3.342l.495-.47a10.226 10.226 0 002.45-3.889c.934-2.9-.279-5.854-2.944-6.71a4.793 4.793 0 00-4.336.728.686.686 0 01-.81.009z" clip-rule="evenodd"></path>
                            </svg>
                          </button>
                        </div>
                        <% if annonce.images.attached? %>
                          <%= image_tag annonce.images.first, class: "w-full h-48 object-cover rounded-t-lg" %>
                          <% else %>
                            <%= image_tag "default-annonce.jpg", class:"w-full h-48 object-cover rounded-t-lg"%>
                          <% end %>
                        </a>
                        <div class="p-4">
                          <a href="<%= annonce_path(annonce) %>" class="block text-lg font-semibold text-gray-800 mb-2"><%= truncate(annonce.title, length: 23) %></a>
                          <div class="text-base text-gray-600"><%= number_to_currency(annonce.price, format: "%n") %>
                           <span>DH</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  <% end %>
              </div>
        </div>
      <% end %>
    </div>


</div>
    </div>
  </div>
</main>


<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Get all favorite buttons, heart icons, and heart empties on the page
    const favoriteButtons = document.querySelectorAll('.favorite-button');
    const heartIcons = document.querySelectorAll('.heart-icon');
    const heartEmpties = document.querySelectorAll('.heart-empty');
    const csrfToken = '<%= form_authenticity_token %>';

    // Loop through each favorite button and add a click event listener
    favoriteButtons.forEach((button, index) => {
      const annonceId = button.dataset.annonceId;

      // Check if the annonce is already favorited by the user
      <% if user_signed_in? %>
        const favoritedAnnonces = <%= current_user.favorited_annonces.pluck(:id) %>;
        if (favoritedAnnonces.includes(parseInt(annonceId))) {
          heartIcons[index].style.display = 'block';
          heartEmpties[index].style.display = 'none';
        } else {
          heartIcons[index].style.display = 'none';
          heartEmpties[index].style.display = 'block';
        }
      <%else%>
           heartIcons[index].style.display = 'none';
          heartEmpties[index].style.display = 'none';
      <% end %>

      // Add click event listener for the favorite button
      button.addEventListener('click', function() {

        event.preventDefault();
        // Toggle the color of the icon
        heartIcons[index].style.display = heartIcons[index].style.display === 'none' ? 'block' : 'none';
        heartEmpties[index].style.display = heartEmpties[index].style.display === 'none' ? 'block' : 'none';

        // Send a POST or DELETE request to add or remove the annonce from the user's favorites
        const url = '/favorites' + (heartIcons[index].style.display === 'none' ? `/${annonceId}` : '' );
        const method = heartIcons[index].style.display === 'none' ? 'DELETE' : 'POST';
        const body = JSON.stringify({ annonce_id: annonceId });
        fetch(url, {
          method: method,
          credentials: 'same-origin',
          headers: {
            'Content-Type': 'application/json',
            'X-CSRF-Token': csrfToken
          },
          body: body
        })
          .then(response => response.json())
          .then(data => console.log(data))
          .catch(error => console.error(error));
      });
    });
  });
</script>
